.register-container {
  height: 100vh;
  background: linear-gradient(to right, #36b9cc, #4e73df);
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  background: white;
  padding: 40px;
  width: 450px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.register-card h2 {
  margin-bottom: 5px;
}

.subtitle {
  color: gray;
  margin-bottom: 25px;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

form input:focus {
  border-color: #4e73df;
  outline: none;
}

.name-row {
  display: flex;
  gap: 10px;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #4e73df;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #2e59d9;
}